In [21]:

import pandas as pd
import numpy as np
import re
import collections
import contractions
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('dark_background')
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import warnings
warnings.simplefilter(action='ignore', category=Warning)
import keras
from keras.layers import Dense, Embedding, LSTM, Dropout
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

[nltk_data] Downloading package wordnet to /Users/kevinha/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [22]:
df2=pd.read_csv('balanced_dataset_training.csv', encoding='latin')
df_test=pd.read_csv('balanced_dataset_testing.csv', encoding='latin')

In [23]:
df2.head()

,Unnamed: 0,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,421,Mobile Engineer,"US, ND, Bismarck",NaN,NaN,<p>We're changing how the world creates and pu...,<p>We are looking for a mobile application eng...,<h3>The Musts:</h3>\r\n<ul>\r\n<li>You think b...,<h3>The Perks (full-time only):</h3>\r\n<ul>\r...,f,t,t,Full-time,Entry level,Unspecified,Program Development,Other,f,t
1,545,BI Consultant & Database Expert,"BE, ,",tech,NaN,<p>hello world</p>\r\n<p>talents23_ drives the...,<p>This fast growing company specialized in da...,<ul>\r\n<li>You know SQL and have professional...,<ul>\r\n<li>WeÃÂ¢ÃÂÃÂre theÃÂÃÂ key An...,f,t,t,Full-time,Associate,NaN,NaN,NaN,f,t
2,806,Customer Service Representative,"US, TX, SAN ANTONIO",NaN,NaN,NaN,<p>SUMMARYResponsible for acting as a liaison ...,<p>Experience: Proficiency with Microsoft Word...,<p>You would be eligible to Benefits after 2mo...,f,f,f,Full-time,Not Applicable,High School or equivalent,Consumer Services,Customer Service,t,t
3,803,Administrative Assistant,"US, CA, Santa Ana",NaN,NaN,NaN,<p>ÃÂÃÂ In addition to clerical and adminis...,NaN,<p>No requirements</p>,f,f,f,Full-time,NaN,NaN,Accounting,Administrative,t,t
4,147,Key Account Manager Switzerland,"CH, BS, Basel",Sales,NaN,NaN,<p>Are you looking for a career that will chal...,NaN,NaN,f,t,t,Full-time,Associate,Bachelor's Degree,Education Management,Sales,f,t

In [24]:
df2.isna().sum()

Unnamed: 0               0
title                    0
location                 9
department             310
salary_range           363
company_profile        249
description              0
requirements            88
benefits               179
telecommuting            0
has_company_logo         0
has_questions            0
employment_type        132
required_experience    189
required_education     230
industry               162
function               177
fraudulent               0
in_balanced_dataset      0
dtype: int64

In [25]:
df2 = df2.fillna("")
df2['description']=df2['company_profile']+" "+df2['description']+" "+ df2['requirements']+" "+df2['benefits']
df2

,Unnamed: 0,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,421,Mobile Engineer,"US, ND, Bismarck",,,<p>We're changing how the world creates and pu...,<p>We're changing how the world creates and pu...,<h3>The Musts:</h3>\r\n<ul>\r\n<li>You think b...,<h3>The Perks (full-time only):</h3>\r\n<ul>\r...,f,t,t,Full-time,Entry level,Unspecified,Program Development,Other,f,t
1,545,BI Consultant & Database Expert,"BE, ,",tech,,<p>hello world</p>\r\n<p>talents23_ drives the...,<p>hello world</p>\r\n<p>talents23_ drives the...,<ul>\r\n<li>You know SQL and have professional...,<ul>\r\n<li>WeÃÂ¢ÃÂÃÂre theÃÂÃÂ key An...,f,t,t,Full-time,Associate,,,,f,t
2,806,Customer Service Representative,"US, TX, SAN ANTONIO",,,,<p>SUMMARYResponsible for acting as a liaison...,<p>Experience: Proficiency with Microsoft Word...,<p>You would be eligible to Benefits after 2mo...,f,f,f,Full-time,Not Applicable,High School or equivalent,Consumer Services,Customer Service,t,t
3,803,Administrative Assistant,"US, CA, Santa Ana",,,,<p>ÃÂÃÂ In addition to clerical and admini...,,<p>No requirements</p>,f,f,f,Full-time,,,Accounting,Administrative,t,t
4,147,Key Account Manager Switzerland,"CH, BS, Basel",Sales,,,<p>Are you looking for a career that will cha...,,,f,t,t,Full-time,Associate,Bachelor's Degree,Education Management,Sales,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,718,Data Entry,"US, FL, HILLIARD FL",,25-30,,<p>Prepares source data for computer entry by...,<p>We are seeking extremely motivated and expe...,"<p>ÃÂÃÂ Health, Dental, Life and AD&amp;D I...",f,f,f,Contract,Internship,,Consumer Services,Accounting/Auditing,t,t
446,826,Personal Assistant,"US, NY, New York",Admin - Clerical,,,<p>Job Description</p>\r\n<p><br>Vertex Globa...,,,f,f,f,Temporary,Entry level,Unspecified,Telecommunications,Administrative,t,t
447,675,OR Specialty Coordinator,"US, ,",,,,<p><b>Apply using below link</b></p>\r\n<p><b...,,,f,f,f,Full-time,,,Hospital & Health Care,,t,t
448,555,Sales Consultant NYC,"US, NY, New York",,,"<p>Sarbari is a high-growth, investment-backed...","<p>Sarbari is a high-growth, investment-backed...",,<p>Sarbari offers a base salary and high earni...,f,t,f,Full-time,Associate,,Food & Beverages,Sales,f,t
449,439,Account Manager,"NZ, N, Auckland",Customer Service,55000-65000,<p>HealthLink provides a computer communicatio...,<p>HealthLink provides a computer communicatio...,<ul>\r\n<li>Good computer skills: experience i...,<ul>\r\n<li>Stimulating environment with high ...,f,t,t,Full-time,Not Applicable,Bachelor's Degree,Information Technology and Services,Customer Service,f,t

In [26]:
def fraudulent(x):
    if(x=='f'):
        return 0
    return 1
df_OD = df2[['fraudulent', 'description']].copy()
df_OD.head()
df_OD['scam'] = df2['fraudulent'].map(lambda x:fraudulent(x))
df_OD['text']= df2['description'].copy()
df_OD.head()

,fraudulent,description,scam,text
0,f,<p>We're changing how the world creates and pu...,0,<p>We're changing how the world creates and pu...
1,f,<p>hello world</p>\r\n<p>talents23_ drives the...,0,<p>hello world</p>\r\n<p>talents23_ drives the...
2,t,<p>SUMMARYResponsible for acting as a liaison...,1,<p>SUMMARYResponsible for acting as a liaison...
3,t,<p>ÃÂÃÂ In addition to clerical and admini...,1,<p>ÃÂÃÂ In addition to clerical and admini...
4,f,<p>Are you looking for a career that will cha...,0,<p>Are you looking for a career that will cha...

In [27]:
df_OD=df_OD.drop(['fraudulent', 'description'], axis=1)

df_OD.head()

   scam                                               text
0     0  <p>We're changing how the world creates and pu...
1     0  <p>hello world</p>\r\n<p>talents23_ drives the...
2     1   <p>SUMMARYResponsible for acting as a liaison...
3     1   <p>ÃÂÃÂ In addition to clerical and admini...
4     0   <p>Are you looking for a career that will cha...

In [28]:
lem = WordNetLemmatizer()
def preprocessing(data):
      sms = contractions.fix(data) # converting shortened words to original (Eg:"I'm" to "I am")
      sms = sms.lower() # lower casing the sms
      sms = re.sub(r'https?://S+|www.S+', "", sms).strip() #removing url
      sms = re.sub("[^a-z ]", "", sms) # removing symbols and numbes
      sms = sms.split() #splitting
      # lemmatization and stopword removal
      sms = [lem.lemmatize(word) for word in sms if not word in set(stopwords.words("english"))]
      sms = " ".join(sms)
      return sms

def remove_tags(string):
    result = re.sub('<.*?>','',string)
    return result
df_OD['text']=df_OD['text'].apply(lambda cw : remove_tags(cw))

X = df_OD["text"].apply(preprocessing)

In [29]:
from sklearn.preprocessing import LabelEncoder
lb_enc = LabelEncoder()
y = lb_enc.fit_transform(df_OD["scam"])

In [30]:
tokenizer = Tokenizer() #initializing the tokenizer
tokenizer.fit_on_texts(X)# fitting on the sms data
text_to_sequence = tokenizer.texts_to_sequences(X)
print(X)

0      changing world creates publishes content even ...
1      hello worldtalents drive change digital recrui...
2      summaryresponsible acting liaison customer com...
3      addition clerical administrative duty individu...
4      looking career challenge allow make impact eve...
                             ...
445    prepares source data computer entry compiling ...
446    job descriptionvertex global solution seek exe...
447    apply using linkurlabecbbbaadffccccaaebor spec...
448    sarbari highgrowth investmentbacked software c...
449    healthlink provides computer communication sys...
Name: text, Length: 450, dtype: object

In [31]:
max_length_sequence = max([len(i) for i in text_to_sequence])
 # finding the length of largest sequence
padded_sms_sequence = pad_sequences(text_to_sequence, maxlen=max_length_sequence, 
                                    padding = "pre") 
len(padded_sms_sequence)

450

In [32]:
TOT_SIZE = len(tokenizer.word_index)+1
def create_model():
      lstm_model = Sequential()
      lstm_model.add(Embedding(TOT_SIZE, 32, input_length=max_length_sequence))
      lstm_model.add(LSTM(50))
      lstm_model.add(Dropout(0.4))
      lstm_model.add(Dense(20, activation="relu"))
      lstm_model.add(Dropout(0.3))
      lstm_model.add(Dense(1, activation = "sigmoid"))
      return lstm_model
lstm_model = create_model()
lstm_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["binary_crossentropy"])
lstm_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 2700, 32)          407232

 lstm_1 (LSTM)               (None, 50)                16600

 dropout_2 (Dropout)         (None, 50)                0

 dense_2 (Dense)             (None, 20)                1020

 dropout_3 (Dropout)         (None, 20)                0

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 424873 (1.62 MB)
Trainable params: 424873 (1.62 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
history=lstm_model.fit(padded_sms_sequence, y, epochs =11, validation_split=0.2, batch_size=64)

Epoch 1/11
6/6 [==============================] - 8s 984ms/step - loss: 0.6923 - binary_crossentropy: 0.6923 - val_loss: 0.6923 - val_binary_crossentropy: 0.6923
Epoch 2/11
6/6 [==============================] - 5s 917ms/step - loss: 0.6872 - binary_crossentropy: 0.6872 - val_loss: 0.6899 - val_binary_crossentropy: 0.6899
Epoch 3/11
6/6 [==============================] - 5s 905ms/step - loss: 0.6805 - binary_crossentropy: 0.6805 - val_loss: 0.6841 - val_binary_crossentropy: 0.6841
Epoch 4/11
6/6 [==============================] - 6s 971ms/step - loss: 0.6651 - binary_crossentropy: 0.6651 - val_loss: 0.6681 - val_binary_crossentropy: 0.6681
Epoch 5/11
6/6 [==============================] - 5s 912ms/step - loss: 0.6025 - binary_crossentropy: 0.6025 - val_loss: 1.3470 - val_binary_crossentropy: 1.3470
Epoch 6/11
6/6 [==============================] - 5s 907ms/step - loss: 0.6218 - binary_crossentropy: 0.6218 - val_loss: 0.5955 - val_binary_crossentropy: 0.5955
Epoch 7/11
6/6 [==============================] - 5s 898ms/step - loss: 0.5132 - binary_crossentropy: 0.5132 - val_loss: 0.5679 - val_binary_crossentropy: 0.5679
Epoch 8/11
6/6 [==============================] - 5s 890ms/step - loss: 0.4514 - binary_crossentropy: 0.4514 - val_loss: 0.5312 - val_binary_crossentropy: 0.5312
Epoch 9/11
6/6 [==============================] - 6s 1s/step - loss: 0.3744 - binary_crossentropy: 0.3744 - val_loss: 0.4956 - val_binary_crossentropy: 0.4956
Epoch 10/11
6/6 [==============================] - 6s 914ms/step - loss: 0.2701 - binary_crossentropy: 0.2701 - val_loss: 0.4245 - val_binary_crossentropy: 0.4245
Epoch 11/11
6/6 [==============================] - 6s 957ms/step - loss: 0.1704 - binary_crossentropy: 0.1704 - val_loss: 0.3144 - val_binary_crossentropy: 0.3144

In [34]:
df_test = df_test.fillna("")
df_test['description']=df_test['company_profile']+df_test['description']
df_OD_test = df_test[['fraudulent', 'description']].copy()
df_OD_test.head()
df_OD_test['scam'] = df_test['fraudulent'].map(lambda x:fraudulent(x))
df_OD_test['text']= df_test['description'].copy()
df_OD_test=df_OD_test.drop(['fraudulent', 'description'], axis=1)
df_OD_test['text']=df_OD_test['text'].apply(lambda cw : remove_tags(cw))
X = df_OD_test["text"].apply(preprocessing)
for i in range(5):
           print("Text               : ",X[i] )
           print("Numerical Sequence : ", text_to_sequence[i])
tokenizer = Tokenizer() #initializing the tokenizer
tokenizer.fit_on_texts(X)# fitting on the sms data
text_to_sequence = tokenizer.texts_to_sequences(X)

 # finding the length of largest sequence
padded_sms_sequence_test = pad_sequences(text_to_sequence, maxlen=max_length_sequence, 
                                    padding = "pre") 
padded_sms_sequence_test

Text               :  accepting online application onlyclick applythis full time temporary position lasting yearsdescriptionvalidate review legal contractual agreement customer input contract contract database contract completed amp reviewed within perdetermined service level agreement professional email interaction customer scanning uploading documentsqualificationshigh school diploma equivalent professional communication skill via email interactiondedicated need business project management skill assist facilitating multiple contract reject detail oriented able multitaskability work time sensitive document must able work independently able perform team environment needed fast accurate typistaccepting online application onlyclick apply
Numerical Sequence :  [744, 138, 1316, 5334, 291, 778, 5335, 956, 5336, 745, 215, 3576, 102, 55, 25, 141, 39, 292, 1070, 212, 5337, 102, 957, 251, 149, 5338, 184, 98, 78, 1878, 1223, 818, 2385, 1137, 3577, 1681, 2815, 98, 78, 72, 38, 72, 337, 1682, 958, 98, 78, 1138, 1317, 5339, 1223, 818, 136, 1137, 138, 3578, 5340, 5341, 141, 292, 3577, 154, 123, 2816, 15, 39, 1070, 212, 730, 150, 327, 2122, 104, 13, 338, 82, 5342, 2386, 1879, 90, 79, 5343, 701, 5344, 63, 2, 5345, 348, 57, 5346, 508, 175, 462, 1071, 5347, 13, 392, 4, 1139, 5348, 99, 3579, 104, 1, 5349, 2123, 581, 1318, 581, 8, 5350, 862, 1319, 65, 32, 1070, 212, 5351, 1072, 126, 779, 15, 120, 5352, 1, 5353, 634, 25, 15, 5354, 339, 2816, 172, 66, 69, 104, 5355, 1140, 44, 746, 5356, 32, 2, 5357, 13, 90, 89, 2, 5358, 5359, 59, 14, 2, 43, 1, 2387, 1137, 123, 1073, 1137, 5360, 702, 5361, 23, 328, 98, 1224, 780, 463, 2817, 527, 5362, 5363, 206, 206, 5364, 1011, 147, 363, 35, 1538, 226, 5365, 149, 5366, 169, 258, 246, 227, 5367, 5368, 2124, 2818, 3580, 1417, 5369, 5370, 3581, 731, 5371, 5372, 329, 5373, 2388, 5374, 5375, 863, 5376, 5377, 5378, 2389, 301, 5379, 5380, 528, 5381, 1418, 2819, 5382, 1880, 1880, 27]
Text               :  position administrative assistant whose job primarily consist calling prospect expressed interest service requested contacted workfromhome optionthere absolutely coldcalling involved whatsoeverthis person need pleasant professional comfortable talking seniorlevel manager executive attentiontodetail must extensive tracking need made prospect
Numerical Sequence :  [5383, 5384, 272, 273, 118, 509, 819, 85, 104, 3582, 905, 265, 433, 160, 142, 5, 1419, 28, 235, 10, 566, 5385, 63, 33, 1683, 5386, 2125, 3583, 5387, 5388, 5, 340, 236, 28, 235, 45, 529, 3, 1225, 1074, 608, 1012, 2820, 2390, 1320, 5389, 5390, 61, 251, 1, 35, 3584, 1420, 364, 864, 495, 5391, 392, 957, 235, 5, 5392, 314, 1013, 5393, 207, 48, 3585, 5394, 5395, 1226, 32, 22, 5396, 3586, 5397, 13, 32, 464, 44, 28, 2126, 208, 1421, 28, 959, 5398, 45, 365, 464, 5399, 22, 77, 46, 1539, 567, 13, 5400, 5401, 280, 34, 2391, 338, 42, 167, 83, 9, 703, 543, 197, 73, 32, 5, 309, 635, 43, 2, 23, 208, 28, 1226, 5402, 1422, 3587, 1227, 5403, 820, 5404, 2391, 172, 14, 2, 129, 5405, 113, 48, 22, 3588, 349, 2127, 208, 44, 28, 5406, 1881, 91, 10, 176, 3589, 176, 87, 5407, 3590, 5408, 177, 5409, 2, 5410, 657, 10, 107, 197, 2821, 3591, 510, 5411, 237, 609, 252, 821, 3592, 658, 865, 2125, 5412, 5413, 79, 581, 5414, 175, 704, 3593, 2392, 198, 70, 1540, 11, 125, 1075, 5415, 235, 5416, 5417, 1074, 5418, 1, 5419, 5420, 3594, 28, 5421, 3595, 5422, 28, 5423, 10, 5424, 386, 5425, 1, 3596, 203, 5426, 1228, 5427, 510, 2393, 1, 5428, 5429, 5430, 5431, 5432, 274, 1014, 5433, 5434, 5435, 393, 253, 9, 5436, 314, 5437, 659, 2394, 3597, 2128, 66]
Text               :  ultra luxury american cruise company urgently looking following positionshospitality many bar amp restaurant boardretail duty free shop amp boutique boardhousekeeping housekeeping amp cleaning jobsoffice admin front desk amp tour booking jobsother position dj security staff photographer amp nanniesvessel type operation ultra luxury cruisecertification amp experienceprevious experience requiredgood english speaker customer service skill wanting learn amp workjob typepermsailing areaworld widebenefitson board en suite accommodation food medical cover duration contractworld work visa free wifitax free salary amp morejob descriptiona ultra luxury cruise company looking recruit hardworking enthusiastic cruise personalthis exciting opportunity available candidate willing learn work amp flexiblecandidate also customer service skill skill public relation good english speakersrotation month month great salary euro tax freepay discussed via communication full application proccessif looking new adventure apply todayplease send resume emaileadacdedbcafcbacbacfdffcb coppy amp paste email addresswe contact shortly within hourslooking forward aboardadrian westdept rec
Numerical Sequence :  [5438, 5439, 1684, 4, 5, 168, 1423, 275, 2129, 130, 660, 661, 5440, 5441, 5442, 4, 1423, 266, 114, 86, 662, 98, 5443, 544, 1015, 4, 2822, 130, 5444, 4, 5445, 5446, 121, 1141, 5447, 1685, 5448, 1541, 275, 5449, 5450, 5, 5451, 702, 80, 2823, 80, 530, 114, 5452, 5453, 5454, 660, 3598, 387, 5455, 5, 5456, 45, 13, 5457, 13, 5458, 3599, 4, 5459, 5460, 4, 820, 5461, 13, 5462, 87, 44, 960, 69, 112, 5463, 4, 3, 72, 124, 1542, 4, 3, 5464, 315, 112, 223, 2, 961, 228, 293, 259, 781, 2824, 76, 291, 22, 29, 2395, 208, 5465, 23, 1142, 284, 2396, 2397, 1424, 22, 242, 170, 1016, 56, 117, 23, 5, 56, 1686, 137, 185, 316]
Text               :  kmc projectwe looking someone reliable ability work hour week would include potentially christmas break manage program worker split break half work part break although increased hour ten day span give preference pc deal breaker
Numerical Sequence :  [866, 822, 218, 144, 105, 3600, 34, 33, 127, 106, 105, 36, 82, 1687, 8, 1425, 1426, 107]
Text               :  exciting opportunity exists fill parttime position assistant accountant immediate start sydney regionin role key member team responsible overall bookkeeping duty client required proactive duty take task required
Numerical Sequence :  [25, 92, 392, 1688, 58, 545, 120, 93, 1076, 21, 131, 19, 317, 1882, 82, 142, 100, 1, 2825, 146, 341, 867, 1427, 660, 3601, 197, 130, 72, 73, 636, 546, 92, 5466, 2826, 366, 14, 1, 146, 367, 341, 149, 60, 120, 93, 2826, 392, 2130, 5467, 2131, 15, 2132, 364, 545, 161, 1, 54, 2827, 434, 2133, 70, 465, 5468, 73, 272, 3601, 10, 2828, 100, 2134, 2829, 186, 1543, 433, 1077, 199, 2398, 465, 5469, 5470, 868, 15, 10, 21, 869, 15, 19, 1689, 12, 77, 1143, 350, 466, 5471, 1883, 381, 2135, 2826, 247, 98, 5472, 1428, 5473, 404, 254, 433, 5474, 302, 3602, 663, 5475, 747, 130, 1544, 260, 19, 2399, 12, 1321, 178, 5476, 5477, 1144, 5478, 2828, 100, 193, 12, 9, 198, 5479, 1017, 5480, 14, 2, 12, 10, 32, 1229, 2, 5481, 1689, 12, 5482, 212, 433, 129, 13, 5483, 43, 961, 2400, 209, 143, 1545, 1229, 5484, 29, 252, 2401, 83, 3602, 23, 1017, 1884, 5485, 351, 223, 582, 272, 5486, 162, 5487, 198, 2828, 341, 29, 1, 5488, 3603, 510, 5489, 29, 1322, 83, 251, 5490, 511, 91, 1142]

array([[   0,    0,    0, ...,   39,  542,   79],
       [   0,    0,    0, ...,   27,  497,  910],
       [   0,    0,    0, ...,  789,  790,  791],
       ...,
       [   0,    0,    0, ...,  742,  650, 1092],
       [   0,    0,    0, ...,  892,   30,   18],
       [   0,    0,    0, ...,    5,  291, 1224]], dtype=int32)

In [35]:
lb_enc = LabelEncoder()
y_test = lb_enc.fit_transform(df_OD_test["scam"])

In [36]:
len(padded_sms_sequence_test)

450

In [37]:
pred = lstm_model.predict(padded_sms_sequence_test)
y_pred=[]
med= np.median(pred)
print(med)
for i in range(0,pred.size):
    if pred[i][0] >med:
        y_pred.append(1)
    else:
        y_pred.append(0)
from sklearn.metrics import confusion_matrix


confusion_matrix(y_test, y_pred)

15/15 [==============================] - 2s 137ms/step
0.7660905

array([[159,  72],
       [ 68, 151]])

In [38]:
hist,bins = np.histogram(pred,bins = [0,0.2,0.4,0.6,0.8,1])

In [39]:
hist

array([ 53,  95,  18,  79, 205])

In [40]:
import pickle
pickle.dump(lstm_model, open('model2.pkl', 'wb'))

In [41]:
model = pickle.load(open('model2.pkl','rb'))
pred = model.predict(padded_sms_sequence_test)

y_pred=[]
y_column=[]
med= np.median(pred)
print(med)
for i in range(0,pred.size):
    if pred[i][0] >med:
        y_pred.append(1)
    else:
        y_pred.append(0)
    y_column.append(pred[i][0])
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

15/15 [==============================] - 2s 140ms/step
0.7660905

array([[159,  72],
       [ 68, 151]])

In [42]:
df_test['LSTM_PREDICT'] = y_pred

In [43]:
df_test['LSTM_PROB']=y_column

In [44]:
df_test.to_csv('EDA_Dataset.csv',index=False)

In [45]:
df_works=pd.read_csv('EDA_Dataset.csv')

In [46]:
df_true=df_works[df_works['fraudulent']=='t']

In [47]:
sum(df_true['LSTM_PROB'])/len(df_true['LSTM_PROB'])

0.7549579153881285

In [48]:
df_false=df_works[df_works['fraudulent']=='f']

In [49]:
sum(df_false['LSTM_PROB'])/len(df_false['LSTM_PROB'])

0.5192337329870127

In [ ]:
#Note: An LSTM is rather chaotic for the predicitons it generates and is very senseitive to initial conditions. The dataset generated by the LSTM in this code is different frmo the one used in the final product